.mainDiv {  
float: left;  
margin-left: 0%;  
width: 100%;  
margin-top: 2%;  
height: 100%;  
/* background-color: #FFEBCD;   */
  
}  
  
.viceDiv_1,.viceDiv_2,.viceDiv_3 {  
float: left;  
/* background-color: #7FFFD4;   */
margin-top: 1% ;  
margin-left: 1%;  
width: 30%;  
height: 100%;  
}  