.mainDiv {  
float: left;  
margin-left: 10%;  
width: 80%;  
margin-top: 2%;  
height: 200px;  
background-color: #FFEBCD;  
  
}  
  
.viceDiv_1,.viceDiv_2,.viceDiv_3 {  
float: left;  
background-color: #7FFFD4;  
margin-top: 2% ;  
margin-left: 2.5%;  
width: 30%;  
height: 150px;  
}  